.c-grid-sidebar
{
	overflow-x: hidden;
	overflow-y: auto;
	
	flex: none;
	order: 1;
	width: 300px;
	padding: 20px;
	
	background: $global.colors.background;
	
	&::-webkit-scrollbar
	{
		width: 4px;
		height: 4px;
	}
	
	&::-webkit-scrollbar-track
	{
		background: $global.colors.scrollbarTrack;
	}
	
	&::-webkit-scrollbar-thumb
	{
		background: $global.colors.scrollbarThumb;
	}
	
	> figure
	{
		margin: 0 0 20px;
		
		> img
		{
			display: block;
		}
	}
}
