.c-meta-header
{
	margin: 0 0 40px;
	
	font-size: 14px;
	
	> h2
	{
		font-size: 20px;
		font-weight: normal;
	}
	
	> time
	{
		display: block;
		
		margin: 0 0 20px;
	}
	
	> div.original
	{
		> a
		{
			color: inherit;
		}
	}
}
